@import "./mixins.scss";
@import "./camera.scss";

*, *:before, *:after {
    box-sizing: inherit;
    @include vendor-prefix("box-sizing", "border-box");
}

html {
    box-sizing: border-box;
}

body {
    .box {
        width: 150px;
        height: 150px;
        background-color: green;
        @include box-shadow(20px, 20px, 40px, #ef1234);
    }
    p {
        color: blue;
    }
}